@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans&family=Dancing+Script:wght@700&family=Viaoda+Libre&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}

#navigation{
    position:fixed;
    width:100%;
	height:6.5vw;
	z-index:25;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-image: linear-gradient(180deg, transparent 40vw, transparent);
}
.logo{
    height: 24px;
    z-index: 2;
    font-size: 30px;
  
}
.logo span{
    font-family:'Dancing Script', cursive;
    display:inline-flexbox;
    background-color: white;

}

.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.menu li{
    padding: 20px;
}
.menu li a{
    color: white;
}
.sign-up-btn,
.sign-up-btn-2{
    color:gold;
}
.sign-up-btn i,
.sign-up-btn-2 i{
    margin-left: 4px;
}
.menu li a:hover,
.menu-2 li a:hover
{
    color: #17ffa6;
    transition: all ease 0.5s;
}
.sign-up-btn:hover,
.sign-up-btn-2:hover{
    color: #0ab372;
    transition: all ease 0.5s;
}
::selection{
    color: #121212;
    background-color: #17ffa6;
}
.nav-2,
.menu-icon,
.menu-btn{
    display: none;
}
@media(max-width:1000px){
    #navigation{
        padding: 30px;
    }
    #navigation .menu,
    #navigation .sign-up-btn{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 2;
    }
    nav .menu-icon .nav-icon{
        background-color: #ffffffcc;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 25px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background-color: #ffffffcc;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top: -5px;
    }
    nav .menu-icon .nav-icon,
    nav .menu-icon:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0px;
    }
    nav .menu-btn{
        display: none;
    }
    .nav-2{
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        width:100%;
        height:100%;
        background:linear-gradient(grey,black);
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        z-index: 1;
        display: none;
        animation: fade 0.3s;

    }
    .menu-2{
        margin: 0px;
        padding: 0px;
        align-items:center;
    }
    
    .menu-2 li a{
        color: #fff;
        margin: 0px;
        padding: 20px 0px;
        font-size: 30px;
        
    }
    .sign-up-btn-2{
        font-size: 24px;
    }
    .sign-up-btn-2 i{
        font-size: 14px;
    }
    nav .menu-btn:checked ~ .nav-2{
        display: flex;
    }

}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*-----------End of nav bar-----------------------------*/
header{
    background-image: url(../images/3.jpg);
    background-position:top-center;
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    height: 50vw;
    position:relative;
    justify-content:center;
    align-items:center;
}
/*---------------------box-------------*/
section
{
    padding:40px 25px;
    display:flex;
    justify-content:center;
    align-items:center;
}
section .intro_box:before{
    content:'';
    position:absolute;
    top:-20px;
    left:-20px;
    right:-20px;
    bottom:-20px;
    background:url(../images/3.jpg);
    background-attachment:fixed;
    filter:blur(95px);
}
.intro_box{
    margin-top:10vw;
    position:relative;
   max-width:100%;
    height:25vw;
    padding:5% 5% 10%;
    box-shadow: 10px 5px 10px black;
    overflow:hidden;
    color:black;
}
.intro_box p{
    position:relative;
    margin-top:1vw;
    padding:0;
    font-size:2vw;
    z-index:2;
    font-weight: bold;
}
.intro_box p span{
    position:relative;
    margin:0;
    padding:0;
    font-size:2.5vw;
    color:red;
    z-index:2;
    font-family: 'Viaoda Libre', cursive;
}
.intro_box h2{
    position:relative;
    margin:0;
    padding:0;
    font-size:2.5vw;
    color:rgb(50, 50, 90);
    z-index:2;
    font-family: 'Montserrat', sans-serif;
}
/*---------------------button---------------*/
.btn{
    max-width:100%;
    height:5vw;
    border-radius:8px;
    background:transparent;
    position:relative;
}
.btn button{
    
    position:absolute;
    max-width:100%;
    height:50%;
    font-size:1vw;
    background:white;
    border: 1.5px solid black;
    border-radius:8px;
    color:black;
    cursor:pointer;
    transition:all .4s;
    word-wrap: break-word;
    z-index:2;
}
.btn:hover button{
    color:white;
    border:none;
    background:linear-gradient(to right,red,rgb(119, 29, 44),darkblue);
}
/*------------Image  Slider/New Arrivals----------------*/
.newarr{
    background:url(../images/back1.jfif);
    height:49vw;
}
.new_arrivals{
    position: relative;  
    max-width: 50%;
    height: 5vw;
    margin-left:10vw;
    background: #1D212B;
    align-items:center;
  }
  
  .new_arrivals .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .new_arrivals .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .new_arrivals .slide img{
    z-index: 1;
    width: 100%;
    height:42vw;
    border-radius: 5px;
  }
  
   .new_arrivals .navig{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .new_arrivals .navig .bttn{
    background:gold;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .new_arrivals .navig .bttn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 820px){
    .new_arrivals{
      width: 600px;
      height:375px;
     
    }
  
    .new_arrivals .navig{
      bottom: 25px;
    }
  
    .new_arrivals .navig .bttn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .new_arrivals{
      width: 400px;
      height: 250px;
     
    }
  
    .new_arrivals .navig{
      bottom: 15px;
    }
  
    .new_arrivals .navig .bttn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .new_arrivals{
      width: 320px;
      height: 200px;
     }
  
    .new_arrivals .navig{
      bottom: 10px;
    }
  }


