/*------------Image  Slider/New Arrivals----------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans&family=Dancing+Script:wght@700&family=Viaoda+Libre&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}

.newarr{
  background:#D2D1CD;
   width:100%;
  height: 70vw;
 padding:2vw;
}
.new_arrivals{
  position: relative;  
  max-width: 50%;
  margin-left:20vw;
  align-items:center;
}
.new_arrivals .slide{
 z-index: 1;
  position: absolute;
  width: 100%;
  margin-top:3.5vw;
  clip-path: circle(0% at 0 50%);
}

.new_arrivals .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.new_arrivals .slide img{
  z-index: 1;
  width: 100%;
 
  height:38vw;
  border-radius: 5px;
}

 .new_arrivals .navig{
  
  z-index: 2;
  bottom:-38vw;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.new_arrivals .navig .bttn{
  background:black;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  
}

.new_arrivals .navig .bttn.active{
  background:whitesmoke;
 
}

@media (max-width: 820px){
  .new_arrivals{
    width: 600px;
    height:375px;
   
  }

  .new_arrivals .navig{
    top:-2vw;
  }

  .new_arrivals .navig .bttn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 425px){
  .new_arrivals{
    width: 50%;
    height: 250px;
   
  }
  .new_arrivals .navig{
    top:-2vw;
  }
  

  .new_arrivals .navig .bttn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 375px){
  .new_arrivals{
    width: 50%;
    height: 220px;
   }

  .new_arrivals .navig{
    bottom:25vw;
  }
}