@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background:#D2D1CD;
}
.contactus{
    font-family: "Poppins", sans-serif;
    background:#D2D1CD;
    background-position:top-center;
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    height: auto;
    position:relative;
    justify-content:center;
    align-items:center;
}
.contact-section{
    padding:10vw 1vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  color:black;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i{
    color:#ff6600;
  margin-right: 20px;
  font-size: 25px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  color:#ff6600;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background:#3c3d41;
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background:#3c3d41;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  
}

.contact-form .send-btn{
  float: right;
  background: #2E94E3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin:5px;
}

.contact-form .send-btn:hover, .contact-form .reset-btn:hover{
  background: #0582E3;
}

@media screen and (max-width: 950px){
  .contact-section{
    flex-direction: column;
  }

  .contact-info, .contact-form{
    margin: 30px 50px;
  }

  .contact-form h2{
    font-size: 30px;
  }

  .contact-form .text-box{
    width: 100%;
  }
}


/*-----------------------Review------------------------*/
.reviewClients{
    font-family: "Poppins", sans-serif;
    background:#D2D1CD;
    margin:0;
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    height: auto;
    position:relative;
    justify-content:center;
    align-items:center;  
  }
.reviewClients .title{
  padding-bottom:10px;
  padding-left:5px;
  padding-right:5px;
  text-align: center;
  font-size:30px;
  text-transform: uppercase;
  color: red;
 
}
.reviews{
  padding:10px;
  display: flex;
  flex-wrap: wrap;
}
.review{
 
  min-width: 300px;
  flex: 1;
}

.head-review{
  
  width: 150px;
  height: 150px;
}
.head-review img{
  margin-top:10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  margin:5px;
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: red;
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

@media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
}
/*------------------------------User Rating-----------------------*/
.giverev{
  font-family: "Poppins", sans-serif;
  background:#D2D1CD;
  margin:0;
  background-size: 100%;
  background-repeat: no-repeat;
  width:100%;
  height: auto;
  position:relative;
  justify-content:center;
  align-items:center;  
}
.giverev .title{
  padding-bottom:10px;
  padding-left:5px;
  padding-right:5px;
  text-align: center;
  font-size:30px;
  text-transform: uppercase;
  color: red;
}
.giverev .container{
  position: relative;
  width:100%;
  background: #D2D1CD;
  padding: 20px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.giverev .container .post{
  display: none;
}
.giverev .container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
  bottom:100px;
}
.giverev .container .edit{
  position: absolute;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

.giverev .container .edit:hover{
  text-decoration: underline;
}
.giverev .container .star-widget input{
  display: none;
}
.giverev .star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
@media screen and (max-width:395px)
{
  .giverev .star-widget label{
  font-size: 30px;
}
}
@media screen and (max-width:330px)
{
  .giverev .star-widget label{
  font-size: 20px;
}
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input#rate-1:checked ~ label{color:#fd4;}
input#rate-2:checked ~ label{color:#fd4;}
input#rate-3:checked ~ label{color:#fd4;}
input#rate-4:checked ~ label{color:#fd4;}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked~ form hea:before{
  content: "I just hate it😡 ";
}
#rate-2:checked ~ form hea:before{
  content: "I don't like it😠 ";
  
}
#rate-3:checked ~ form hea:before{
  content: "I like it🙂";
}
#rate-4:checked ~ form hea:before{
  content: "It's just awesome😍";
}
#rate-5:checked ~ form hea:before{
  content: "I just love it🥰";
}
@media screen and (max-width:330px)
{
  #rate-1:checked~ form hea:before{
    content:"😡 ";
    padding:20px;
  }
  #rate-2:checked ~ form hea:before{
    content: "😠 ";
    padding:20px;
  }
  #rate-3:checked ~ form hea:before{
    content: "🙂 ";
    padding:20px;
  }
  #rate-4:checked ~ form hea:before{
    content: "😍 ";
    padding:20px;
  }
  #rate-5:checked ~ form hea:before{
    content: "🥰 ";
    padding:20px;
  }
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form hea{
  width: 100%;
  font-size: 25px;
  color:#0B5394;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
  opacity:0.7;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btnn{
  height: 45px;
  width: 100%;
  margin: 10px 0;
}
form .btnn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  opacity:0.7;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btnn button:hover{
  background:black;
}